<app-title title="Defer Triggers" />

<section>
    <h1 class="text-2xl">Interacciones</h1>
    <hr class="my-2">

    @defer (on interaction) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
        <span>On Interaction</span>
    </app-heavy-loaders-fast>
    }@placeholder {
    <div class="w-full h-20 bg-purple-300">Click en el div</div>
    }

</section>

<section>
    <h1 class="text-2xl">Delegado al boton</h1>
    <hr class="my-2">

    @defer (on interaction(btnInteraction)) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
        <span>On Interaction</span>
    </app-heavy-loaders-fast>
    }@placeholder {
    <div class="w-full h-20 bg-purple-300">Click en el boton</div>
    }

    <button #btnInteraction class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white mt-2">Click en el
        div</button>

</section>

<section>
    <h1 class="text-2xl">Cuando se pasa encima del div</h1>
    <hr class="my-2">

    @defer (on hover()) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
        <span>On Hover</span>
    </app-heavy-loaders-fast>
    }@placeholder {
    <div class="w-full h-20 bg-purple-300">encima del div</div>
    }


</section>

<section>
    <h1 class="text-2xl">Cuando se pasa encima del boton</h1>
    <hr class="my-2">

    @defer (on hover(btnInteraction)) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
        <span>On Hover</span>
    </app-heavy-loaders-fast>
    }@placeholder {
    <div class="w-full h-20 bg-purple-300">Encima del boton</div>
    }

    <button #btnInteraction class="p-2 bg-blue-500 hover:bg-blue-700 transition-all rounded text-white mt-2">Click en el
        div</button>

</section>

<section>

    <hr class="my-2">

    @defer (on immediate) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
        <span>On immediate</span>
    </app-heavy-loaders-fast>
    }@placeholder {
    <div class="w-full h-20 bg-purple-300">Crea el componente al inicio</div>
    }

</section>

<section>

    <hr class="my-2">

    @defer (on timer(5000)) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
        <span>On timer</span>
    </app-heavy-loaders-fast>
    }@placeholder {
    <div class="w-full h-20 bg-purple-300">Se carga en 5 segundos</div>
    }

</section>

<section>

    <hr class="my-2">

    <!-- permite precargar el codiog del componente -->
    @defer (on hover; prefetch on idle) {
    <app-heavy-loaders-fast cssClass="bg-blue-500 h-20">
        <span>On hover, idle</span>
    </app-heavy-loaders-fast>
    }@placeholder {
    <div class="w-full h-20 bg-purple-300">Precargado</div>
    }

</section>